{% extends 'news_base.html' %}
{% block title %}Welcome to WICW News{% endblock %}


{% block content %}

<div class="row">
    <div class="large-4 column chapter-left-panel">
        <h1>Women In Coffee World Events</h1>
    </div>
    <div class="large-8 column">
        <h2>Events</h2>
        {% if event_list %}
            {% for event in event_list %}
                <div class="event_in_list">
                    <img src="{{ event.event_featured_picture.url }}" />
                    <a href="/event/{{ event.id }}"><h3>{{ event.name }}</h3></a>
                    <strong>
                        Starting on: <span class="date">{{ event.start_date }}</span> <br />
                        {{ event.venue }} <br/>
                    </strong>
                    <a href="{{ event.event_url }}">{{ event.event_url }}</a> <br/>
                    <a href="/event/{{ event.id }}">Read More &rarr;</a>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no Events.</p>
        {% endif %}
    </div>
</div>
<hr/>
{% endblock %}
