{% extends 'thumbs_base.html' %}
{% load staticfiles %}
{% block title %}WICW - Women in Coffee World{% endblock %}



{% block content %}
<div class="row">

    <div class="large-12 column">
        <a href="/chapters"><img src="{% static 'img/banner.png' %}" class="float-right" alt="Support Chapters, buy Coffee!"></a>
    </div>

    <div class="large-12 column">
        <span class="selling-button float-center">
            <a href="{{ catalog.file_data.url }}">Check out Available Coffee!</a>
        </span>
    </div>

    <div class="large-4 column iwcw-header">
        <span>The International Women's Coffee Alliance</span>
    </div>

    <div class="large-8 column iwcw-header-leading">
        <p>The IWCA is a global peer network of women in coffee that <strong>advocates</strong> for women from seed to cup and <strong>provides</strong> access to resources and a forum for connection.
More than <strong>500 million people</strong> are dependent on coffee <strong>for their livelihoods</strong>, and of that number, 25 million are coffee farmers who typically live and work in substandard conditions and receive only a small percentage of the actual price that the coffee is sold to the consumer.
            Women, who represent a good majority of coffee farmers, face additional challenges.</p>
    </div>
</div>
<div class="row featured-post-homepage">
    {% with featured_posts.0 as upost %}
    <div class="large-6 column">
        {% if upost.featured_image %}
            <img src="{{ upost.featured_image.url }}" class="float-right" alt="Featured News">
        {% else %}
            <img src="{% static 'img/Home-Tanzania.png' %}" class="float-right" alt="Coffee Beans">
        {% endif %}
    </div>
    <div class="large-6 column end">
        <div class="feat-post-text">
            <h3>Featured: {{ upost.title }}</h3>
            <p>
                {{ upost.body|truncatewords:80 }}
                <br />
                <a href="/post/{{ upost.slug }}">Read More &rarr;</a>
            </p>
        </div>
    </div>
    {% endwith %}
</div>
<div class="row">
    {% with featured_posts.1 as upost %}
        <div class="large-6 column">
            <div class="feat-post-text">
                <h3>Featured: {{ upost.title }}</h3>
                <p>
                    {{ upost.body|truncatewords:80 }}
                    <br />
                    <a href="/post/{{ upost.slug }}">Read More &rarr;</a>
                </p>
            </div>
        </div>
        <div class="large-6 column end">
        {% if upost.featured_image %}
            <img src="{{ upost.featured_image.url }}" class="float-right" alt="Featured News">
        {% else %}
            <img src="{% static 'img/Home-Tanzania.png' %}" class="float-right" alt="Coffee Beans">
        {% endif %}
        </div>
    {% endwith %}

</div>
<div class="row">
    {% with featured_event as event %}
        <div class="large-7 column">
            <a href="/event/{{ event.id }}"><img src="{{ event.event_featured_picture.url }}" class="float-right" alt="Events!"></a>
        </div>
        <div class="large-5 column end">
            <h3>{{ event.name }}</h3>
            <p>
                {{ event.details|truncatewords:80 }}
                <br />
                <a href="/event/{{ event.id}}">Read More &rarr;</a>
            </p>
        </div>
    {% endwith %}
</div>
<hr/>

{% endblock %}
