{% extends 'news_base.html' %}
{% block title %}Welcome to WICW News{% endblock %}


{% block content %}

<div class="row">
    <div class="large-4 column chapter-left-panel">
        <h1>Women In Coffee World News</h1>
    </div>
    <div class="large-8 column">
        <h2>News</h2>
        {% if posts %}
            <div>
            {% for post in posts %}
                <h3><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
                <p>
                    {{ post.body|truncatewords:100 }}
                    <a href="/post/{{ post.slug }}">Read More &rarr;</a></p>
            {% endfor %}
            </div>
        {% else %}
            <p>There are no posts.</p>
        {% endif %}
        <!--
        <h2>Categories</h2>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li><a href="/category/{{ category.slug }}">{{ category.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>There are no posts.</p>
        {% endif %}
        -->
    </div>
</div>
{% endblock %}
