{% extends 'base.html' %}
{% load staticfiles %}

{% block top_bar_row %}
    <div class="logo-bar">
      <div class="row">
          <div class="large-2 column clearfix">
              <img class="float-center" id="IWCA_logo" src="{% static 'img/iwca_logo.jpg' %}" alt="IWCA Logo" />
          </div>
          <div class="large-4 column show-for-small-only small-screen-menu">
            <ul class="menu vertical">
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/chapters/">COFFEE</a></li>
              <li><a href="/news/">NEWS</a></li>
              <li><a href="/events/">EVENTS</a></li>
            </ul>
          </div>
          <div class="large-10 column clearfix chapter-thumb-container-noslide  show-for-medium">
              <div class="float-left chapter_block" style="background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(20, 20, 20, 0.8)), url('{% static 'img/chapters-thmb1.png' %}');" >
                  <a class="t-container" href="/about">About</a>
              </div>
              <div class="float-left chapter_block" style="background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(20, 20, 20, 0.8)), url('{% static 'img/chapters-thmb2.png' %}');">
                  <a class="t-container" href="/chapters/">Coffee</a>
              </div>
              <div class="float-left chapter_block" style="background: url('{% static 'img/chapters-thmb3.png' %}');">
                  <a class="t-container" href="#">News</a>
              </div>
              <div class="float-left chapter_block" style="background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(20, 20, 20, 0.8)), url('{% static 'img/chapters-thmb4.png' %}');">
                  <a class="t-container" href="/events/">Events</a>
              </div>
        </div>
      </div>
    </div>
{% endblock %}