{% extends 'base.html' %}

{% block pre_block_row %}
    <div class="row">
      <div class="large-12 columns">
        <h1>{% block title %}Welcome to my block{% endblock %}</h1>
      </div>
    </div>
{% endblock %}

