{% extends 'base.html' %}
{% load staticfiles %}

{% block top_bar_row %}
    <div class="logo-bar">
      <div class="row">
          <div class="large-2 column clearfix">
              <img class="float-left" id="IWCA_logo" src="{% static 'img/iwca_logo.jpg' %}" alt="IWCA Logo" />
          </div>
          <div class="large-10 column clearfix chapter-thumb-container chapter-thumb-container-scroll">
              {% for chapter in chapters %}
                <div class="float-left chapter_block" style="background-image: url('{{ chapter.thumb_image.url }}');" >
                    <a class="t-container" href="/chapter/{{ chapter.slug }}">{{ chapter.name }}</a>
                </div>
              {% endfor %}
          </div>
      </div>
    </div>
{% endblock %}