{% extends 'news_base.html' %}
{% load staticfiles %}
{% block head_title %}Women In Coffee World - News: {{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}
    {% if post.featured_image %}
    <div class="expanded row header-bar">
        <div class="large-12 columns header-image-banner" style="background-image: url('{{ post.featured_image.url }}')" >
            &nbsp;
        </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="large-offset-4 large-6 columns">
        <h1>{{ post.title }}</h1>
        <small>Posted on: {{ post.posted }}</small>
        <p>{{ post.body }}</p>
        {% if post.chapter %}
            <p>
                See more about the chapter at <a href="/chapter/{{ post.chapter.slug }}">the {{ post.chapter.name }} Chapter's Page &rarr;</a>
            </p>
        {% endif %}
      <br />
      </div>
    </div>
{% endblock %}
