{% extends 'news_base.html' %}
{% load staticfiles %}
{% block head_title %}Women In Coffee World - Event: {{ event.name }}{% endblock %}
{% block title %}{{ event.name }}{% endblock %}


{% block content %}
    <div class="row">
      <div class="columns large-12">
          <img class="float-center" src="{{ event.event_featured_picture.url }}" />
      </div>
      <div class="large-offset-4 large-6 columns" style="padding-top: 1em;">
        <h1>{{ event.name }}</h1>
        <strong>
            Starting on: <span class="date">{{ event.start_date }}</span> <br />
            {{ event.dates }}
        </strong> <br />
        <a href="{{ event.event_url }}">{{ event.event_url }}</a> <br/>
        {{ event.venue }} <br/>
        {{ event.theme }} <br />
        <p>{{ event.details}}</p>
      </div>

    </div>
{% endblock %}
