{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}IWIC - Chapters{% endblock %}
{% block title %}{% endblock %}

{% block top_bar_row %}
    <div class="logo-bar">
      <div class="row">
          <div class="large-2 column clearfix">
              <img class="float-center" id="IWCA_logo" src="{% static 'img/iwca_logo.jpg' %}" alt="IWCA Logo" />
          </div>
          <div class="large-10 column clearfix chapter-thumb-container show-for-medium">
              <div class="float-left chapter_block" style="background-image: url('{% static 'img/chapters-thmb1.png' %}');" >
                  <a href="/news" class="t-container">Featured Story</a>
              </div>
              <div class="float-left chapter_block" style="background-image: url('{% static 'img/chapters-thmb2.png' %}');">
                  <a href="{{ catalog.file_data.url }}" class="t-container">Coffee Availability</a>
              </div>
              <div class="float-left chapter_block" style="background-image: url('{% static 'img/chapters-thmb3.png' %}');">
                  <a href="#" class="t-container">Promotion</a>
              </div>
              <div class="float-left chapter_block" style="background-image: url('{% static 'img/chapters-thmb4.png' %}');">
                  <a href="/events" class="t-container">Events</a>
              </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row small-up-1 medium-up-2 large-up-3">
        {% for chapter in chapters %}
          <div class="column">
              <div class="chapter-list-individual-box">
                <a href="/chapter/{{ chapter.slug }}"><img src="{{ chapter.featured_image.url }}" alt="{{ chapter.name }}" /></a>
                <div class="chapter-list-caption">
                    <a href="/chapter/{{ chapter.slug }}">
                        <h3 class="chapter-list-individual-title">{{ chapter.name }}</h3>
                        <span>Support {{ chapter.name }} Women now &rarr;</span>
                    </a>
                </div>
              </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}
