{% extends 'base.html' %}
{% block head_title %}Viewing category {{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block top_bar_row %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="large-offset-2 large-10 column">
    <h1>{{ category.title }}</h1>

    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

    </div>
</div>

{% endblock %}
