{% extends 'chapter_base.html' %}
{% load staticfiles %}
{% block head_title %}{{ chapter.name }}{% endblock %}

{% block top_bar_row %}
    <div class="logo-bar">
      <div class="row">
          <div class="large-2 column clearfix">
              <img class="float-center" id="IWCA_logo" src="{% static 'img/iwca_logo.jpg' %}" alt="IWCA Logo" />
          </div>
          <div class="large-4 column show-for-small-only small-screen-menu">
            <ul class="menu vertical">
              <li><a href="#chapter-name">ABOUT</a></li>
              <li><a href="#coffee-varieties">COFFEE</a></li>
              <li><a href="/news/{{ chapter.slug }}">NEWS</a></li>
              <li><a href="#contact-info">CONTACT</a></li>
            </ul>
          </div>
          <div class="large-10 column clearfix chapter-thumb-container show-for-medium">
              <div class="float-left chapter_block" style="background-image: url('{{ header_pictures.0.image.url }}');" >
                  <a class="t-container" href="#chapter-name">ABOUT</a>
              </div>
              <div class="float-left chapter_block" style="background-image: url('{{ header_pictures.1.image.url }}');">
                  <a class="t-container" href="#coffee-varieties">COFFEE</a>
              </div>
              <div class="float-left chapter_block" style="background-image: url('{{ header_pictures.2.image.url }}');">
                  <a class="t-container" href="/news/{{ chapter.slug }}">NEWS</a>
              </div>
              <div class="float-left chapter_block" style="background-image: url('{{ header_pictures.3.image.url }}');">
                  <a class="t-container" href="#contact-info">CONTACT</a>
              </div>
          </div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <style>
    h1 {
        color: #464646;
        font-weight: 600;
        padding-bottom: 0.5em;
    }
    h2 {
        font-size: 1.5rem;
        color: #88344c;
    }
    </style>

    <div class="expanded row header-bar">
        <div class="large-12 columns header-image-banner" style="background-image: url('{{ chapter.header_image.url }}')" >
            &nbsp;
        </div>
    </div>
    <div class="row" style="margin-bottom: 3em;">
      <div class="large-3 columns chapter-left-panel">
          <img src="{{ chapter.logo.url }}" alt="Chapter Logo" style="margin: 0.5em 0;" />
      </div>
      <div class="large-9 columns chapter-right-panel end">
        <h1 id="chapter-name" >{{ chapter.name }}</h1>
        <div>{{ chapter.description|safe }}</div>
          {% if chapter.buy_banner_image %}
          <a href="#contact-info"><img src="{{ chapter.buy_banner_image.url }}" /></a>
          {% endif %}

    {# ========= Chapter Fields ============== #}
        <div class="large-9 columns end">
        <h2 class="chapter-contact-title">IWCA Contacts</h2>
            <div style="-webkit-column-count: 2; -moz-column-count: 2; column-count: 2;">
            <!-- style="-webkit-column-count: 2; -moz-column-count: 2; column-count: 2;" -->
            {% for c_contact in chapter_contacts %}
                <p class="chapter-contact">
                    <strong>{{ c_contact.name }}</strong><br />
                    {{ c_contact.telephone }} <br />
                    {{ c_contact.email }} <br />
                </p>
            {% endfor %}
            </div>
        </div>
      </div>
    </div>

    {# ============  Field 1 ================= #}
    {% if chapter.field_1 %}
    <div class="row">
        {% if chapter_pictures.0 %}
            <div class="large-4 column">
                    <img src="{{ chapter_pictures.0.image.url }}" />
            </div>
            <div class="large-8 column end">
                <h2>{{ chapter.field_1_title }}</h2>
                <div>{{ chapter.field_1|safe }}</div>
            </div>
        {% else %}
            <div class="large-9 large-offset-3 columns chapter-right-panel end">
                <h2>{{ chapter.field_1_title }}</h2>
                <div>{{ chapter.field_1|safe }}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {# ============  Field 2 ================= #}
    {% if chapter.field_2 %}
    <div class="row">
        {% if chapter_pictures.1 %}
        <div class="large-6 columns">
            <h2>{{ chapter.field_2_title }}</h2>
            <div>{{ chapter.field_2|safe }}</div>
        </div>
        <div class="large-6 columns end">
            <img src="{{ chapter_pictures.1.image.url }}" />
        </div>
        {% else %}
            <div class="large-9 large-offset-3 columns chapter-right-panel end">
                <h2>{{ chapter.field_2_title }}</h2>
                <div>{{ chapter.field_2|safe }}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {# ============  Field 3 ================= #}
    {% if chapter.field_3 %}
    <div class="row">
        {% if chapter_pictures.3 %}
            <div class="large-4 columns">
                <img src="{{ chapter_pictures.3.image.url }}" />
            </div>
            <div class="large-8 columns end">
                <h2>{{ chapter.field_3_title }}</h2>
                <div>{{ chapter.field_3|safe }}</div>
            </div>
        {% else %}
            <div class="large-9 large-offset-3 columns chapter-right-panel end">
                <h2>{{ chapter.field_3_title }}</h2>
                <div>{{ chapter.field_3|safe }}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {# ============  Field 4 ================= #}
    {% if chapter.field_4 %}
    <div class="row">
        {% if chapter_pictures.4 %}
            <div class="large-3 columns">
                <img src="{{ chapter_pictures.4.image.url }}" />
            </div>
            <div class="large-9 columns end">
                <h2>{{ chapter.field_4_title }}</h2>
                <div>{{ chapter.field_4|safe }}</div>
            </div>
        {% else %}
            <div class="large-9 large-offset-3 columns chapter-right-panel end">
                <h2>{{ chapter.field_4_title }}</h2>
                <div>{{ chapter.field_4|safe }}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {# ========= End of Chapter Fields ========== #}
    <div class="row">
    <div class="large-9 large-offset-3 column chapter-right-panel end">
        <h1 id="coffee-varieties">Coffee Opportunities in {{ chapter.name }}</h1>
        {% for variety, contact in varieties %}

        <table class="variety-specs">
            <caption>{{ variety.name }} <br />
                {% if contact %}
                    <a href="mailto:{{ contact.email }}">{{ contact.name }}</a> <br />
                    ({{ contact.telephone }} - {{ contact.email }})
                {% endif %}
            </caption>
            <tbody>
                <tr>
                    <th>Variety:</th>
                    <td>{{ variety.coffee_variety }}</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{ variety.coffee_attribute_description }}</td>
                </tr>
                <tr>
                    <th>Rainfall:</th>
                    <td>{{ variety.rainfall }}</td>
                </tr>
                <tr>
                    <th>Temperature:</th>
                    <td>{{ variety.temperature }}</td>
                </tr>
                <tr>
                    <th>Soil Type:</th>
                    <td>{{ variety.soil_type }}</td>
                </tr>
                <tr>
                    <th>Process:</th>
                    <td>{{ variety.process }}</td>
                </tr>
                <tr>
                    <th>Harvest Season:</th>
                    <td>{{ variety.harvest_season }}</td>
                </tr>
                <tr>
                    <th>Other Crops:</th>
                    <td>{{ variety.other_crops }}</td>
                </tr>
                <tr>
                    <th>Certifications:</th>
                    <td>{{ variety.certifications }}</td>
                </tr>
                <tr>
                    <th>Extra Info:</th>
                    <td>{{ variety.extra_info }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        <h1 id="contact-info">Contact Information</h1>
            {% if producer_contacts %}
            <h2 class="chapter-contact-title">IWCA Contacts for Selling Coffee</h2>
                <div>
                {% for p_contact in producer_contacts %}
                    <p class="chapter-contact">
                        <strong>{{ p_contact.name }}</strong><br />
                        {{ p_contact.telephone }} <br />
                        {{ p_contact.email }} <br />
                        {{ p_contact.chapter.name }} <br />
                        {{ p_contact.extra_info }} <br />
                    </p>
                {% endfor %}
                </div>
            {% endif %}

        <a href="#chapter-name">Go back to top &blacktriangle;</a>
      </div>
    </div>
    <hr />
    <link rel="stylesheet" href="{% static 'css/responsive-tables.css'%}" />
    <script type="text/javascript" src="{% static 'js/responsive-tables.js'%}"></script>
{% endblock %}
