/**
 Colors:

*/

body, h1, h2, h3 {
    font-family: "Open Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.chapter-contact {
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  /* Firefox */
  break-inside: avoid;
    font-size: large;
}

.chapter-contact strong{
    font-size: 120%;
}

.chapter-contact-title {
    margin-top: 1.5em;
    padding: 0.5em 0;
    color: #612436;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
}

.iwcw-header{
    padding: 1em;
    line-height: 90%;
    text-transform: uppercase;
    font-weight: bold;
    color: #464646;
    font-size: 32px;
}

.iwcw-header-leading p{
    border-left: 1px solid #88344c;
    padding: 2em 2em 2em 3em;
    margin: 2em 0;
    font-size: small;
}

.selling-button {
    text-align: center;
    /* color: #EEE; */
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: x-large;
    max-width: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(126, 186, 0);
    border-radius: 20px;
    background-image: -moz-linear-gradient( 90deg, rgba(163,211,67,0) 0%, rgb(163,211,67) 10%);
    background-image: -webkit-linear-gradient( 90deg, rgba(163,211,67,0) 0%, rgb(163,211,67) 10%);
    background-image: -ms-linear-gradient( 90deg, rgba(163,211,67,0) 0%, rgb(163,211,67) 10%);
}

.featured-post-homepage{
    background-color: #f6fde6;
}

img#ITC-logo {
    /*height: 38px;*/
}

.top-bar, .top-bar ul{
    background-color: #fff;
}
.menu-text {
    padding: 0;
}
.top-bar a, a{
    color: #464646;
}
a:hover{
    color: #612436;
}
.top-bar a:hover, .small-screen-menu a, .small-screen-menu {
    background-color: #5e3225;
    color: #fff;
}
.small-screen-menu{
    margin: 1em 0;
}

img#IWCA_logo{
    height: 140px;
    padding-top:10px;
    padding-right: 20px;
}

.logo-bar {
    background-color: #88344c;
    height: 160px;
}

.footer-holder {
    background-color: #612436;
}


.event_in_list{
    padding-bottom: 2em;
}

.feat-post-text{
    padding: 1em 0;
}
/*
https://css-tricks.com/centering-in-the-unknown/
http://www.webcredible.com/blog/ten-css-tricks-you-may-not-know/
http://designshack.net/articles/css/3-must-learn-css-techniques-for-perfect-web-typography/


*/


.chapter-thumb-container, .chapter-thumb-container-noslide {
    padding: 10px 20px;
    background-color: #5e3225;
    box-shadow: inset 0 0 20px rgba(33, 33, 33, 0.7);
}


.dark-fade{
    background-color: rgba(33, 33, 33, 0.3);
}
.t-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 140px;
}

.chapter_block {
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 5px;
    width: 200px;
    height: 140px; !important;
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(33, 33, 33, 0.7);
    text-align: center;
    /* box-shadow: 2px 2px 2px 2px rgba(221, 221, 221, 0.7); */
    /*font-weight: bold;*/
    background-size: cover;
    background-position: center center;
    display: table;
}

caption {
    background-color: #7eba00;
    color: #612436;
    font-weight: bold;
}

table.variety-specs {
    width: 100%;
    margin-bottom: 2em;
}

.row > div.large-6 div, div.large-8 div, div.large-9 div, div.large-3 img, div.large-4 img, div.large-6 img {
    padding-bottom: 3em;
}

.footer-box {
    color: #FFF;
    height: 250px;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

.footer-box a, .chapter_block a {
    color: #FFF;
}

.footer-box .menu {
    font-weight: bold;
    border-bottom: 2px solid #FFF;
    margin-bottom: 2em;
}

.footer-box .chapters-header{
    font-weight: bold;
    text-transform: uppercase;
}

.footer-chapter-box {
    padding-top: 1em;
    -moz-columns:3;
    -webkit-columns: 3;
    columns: 3;
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;
}

.footer-chapter-box a {
    display: block;
}

.header-image-banner {
    height: 350px;
    background-size: cover;
    background-position: center center;
}

.header-bar {
    margin-bottom: 3em;
}

.chapter-right-panel {
    border-left: 1px solid #464646;
    padding-left: 2em;
}

.chapter-left-panel {
    text-align: right;
    padding-right: 1em;
}

.chapter-list-individual-box {
    font-family: "Open Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    height: 430px;
    max-width: 366px;
    padding: 0;
    margin: 10px 5px;
    background-color: #FFF;
    box-shadow: 2px 2px 20px 0 rgba(50, 50, 50, 0.40);
}

.chapter-list-caption {
    padding: 1em;
}

.chapter-list-caption span, .chapter-list-individual-title{
    color: #222;
}
.chapter-list-individual-title {
    text-transform: uppercase;
}